/* 1. Use a more-intuitive box-sizing model. */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Add accessible line-height 4. Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* END OF CSS RESET */

.qa-main-container {
  padding: 10px;
  width: 80vw;
  margin: 0 auto;
}

.questions-container {
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.answers-container {
  max-height: 40vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#question-yes,
#add-answer-btn,
#answer-yes,
#report-btn,
.expand-answers-btn {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#add-answer-btn:hover, .expand-answers-btn:hover {
  text-shadow: -0.06ex 0 0 rgba(0, 0, 0, 0.65), 0.06ex 0 0 rgba(0, 0, 0, 0.65);
}

#expand-questions-btn, #add-questions-btn {
  border: 1px solid transparent;
}

#expand-questions-btn:hover, #add-questions-btn:hover {
  border: 1px solid black;;
}

.full-answer-photo {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
}

/* Search Component */
.search-container {
  height: 5vh;
  margin-bottom: 0.5vh;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Expand and Add Component */
.ExpandAndAdd-container {
  margin-top: 0.5vh;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

#add-questions-btn, #expand-questions-btn {
  padding: 5px;
  border: 1px solid transparent;
  background-color: rgba(158, 158, 158, 0.2);
  cursor: pointer;
  border-top-left-radius: 15px 50%;
  border-bottom-left-radius: 15px 50%;
  border-top-right-radius: 15px 50%;
  border-bottom-right-radius: 15px 50%;
}

#add-questions-btn:hover, #expand-questions-btn:hover {
  background-color: rgba(0, 113, 133, 0.5);
}


#add-questions-btn {
  margin-left: auto;
}

/* Pop Up Modal */
.popup-modal-container {
  background-color: rgba(255, 255, 255, 0.95);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/white-tiles.png");
  width: 65vw;
  height: 65vh;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

#my-images-div {
  display: flex;
  height: 110px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
}

#my-images-div img {
  aspect-ratio: 3/2;
  max-height: 75px;
  object-fit: cover;
  border: 1px solid transparent;
}

#my-images-div img:hover {
  border: 1px solid black;
}

.qa-main-container ::-webkit-scrollbar {
  width: 12px;
}

.qa-main-container ::-webkit-scrollbar-track {
  background-color: transparent;
}

.qa-main-container ::-webkit-scrollbar-thumb {
  background-color: rgba(158, 158, 158, 0.5);
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* MEDIA QUERIES */
/* Styles for max-width: 1025px */
@media screen and (max-width: 1025px) {
  .qa-main-container {
    width: 80vw;
    font-size: small;
  }

  .questions-container {
    max-height: 60vh;
    padding: 0 10px;
  }

  .answers-container {
    max-height: 30vh; /* Adjusted height */
  }

  .full-answer-photo img {
    max-height: 80vh; /* Adjusted height */
    max-width: 80vw; /* Adjusted width */
  }

  .search-container {
    height: 7vh; /* Adjusted height */
  }

  .ExpandAndAdd-container {
    margin-top: 0.5vh;
  }

  .modal {
    font-size: small !important;
    width: 80vw;
    height: 80vh;
  }

  .modal form {
    height: auto;
  }

  #my-images-div {
    height: 90px; /* Adjusted height */
  }

  #my-images-div img {
    max-height: 60px; /* Adjusted max height */
  }
}


@media screen and (max-width: 412px) {
  .qa-main-container {
    width: 90vw;
    font-size: small;
  }

  .qa-main-container h2 {
    font-size: 1.5rem !important;
  }

  .questions-container {
    max-height: 60vh;
    padding: 0 5px;
  }

  .answers-container {
    max-height: 25vh;
  }

  .full-answer-photo img {
    max-height: 70vh;
    max-width: 70vw;
  }

  .search-container {
    height: 8vh;
  }

  .ExpandAndAdd-container {
    margin-top: 1vh;
  }

  #my-images-div {
    height: 70px;
  }

  #my-images-div img {
    aspect-ratio: unset;
    max-height: 50px;
  }
}