.overview-container {
  background-color: rgba(61, 171, 239, 0.2);
}

html {
  scroll-behavior: smooth;
}

.stars-reviews {
  position:relative;
  display:flex;
  justify-content: start;
  width: auto;
}

.reviews {
  display: inline;
}

.star-container {
  display: flex;
  justify-content: space-evenly;
  padding-right: 5px;
}

.stars {
  display: flex;
  justify-content: space-between;
}

.empty-star {
  display: inline-block;
  position: relative;
  color: #0b0b30;
}

.star {
  display: inline-block;
  position: relative;
  color: #0b0b30;
}

.star:after {
  font-family: FontAwesome;
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  color: rgb(12, 12, 54);
}

.empty-star:after {
  font-family: FontAwesome;
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  overflow: hidden;
}

.media {
  display: flex;
  justify-content: space-evenly;
}