.overview-container {
  background-color: rgba(61, 171, 239, 0.2);
}

.stars-reviews {
  position:relative;
  display:flex;
  justify-content: space-between;
  height: 1.5vh;
  width: 25vw;
}

.reviews {
  display: inline;
}

.star-container {
  display: flex;
  justify-content: space-evenly;
  width: 12vw;
  height: 1.5vh;
}

.stars {
  display: flex;
  justify-content: space-between;
}

.empty-stars {
  display: flex;
  justify-content: space-between;
  right:0;
}

.empty-star {
  display: inline-block;
  position: relative;
  color: #0b0b30;
}

.star {
  display: inline-block;
  position: relative;
  color: #0b0b30;
}

.star:after {
  font-family: FontAwesome;
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  color: rgb(12, 12, 54);
}

.empty-star:after {
  font-family: FontAwesome;
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  overflow: hidden;
}