.ExpandAndAdd-container {
  margin-top: 1vh;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

#add-questions-btn, #expand-questions-btn {
  padding: 5px;
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}