#question-form-container, #answer-form-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
}

#question-form-subcontainer, #answer-form-subcontainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border: 2px solid white;
  border-radius: 20px;
  padding: 1.25rem;
  width: fit-content;
  background-color: #A9A9A9;
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");

}

#question-form-subcontainer {
  height: fit-content;
}

#answer-form-subcontainer {
  height: fit-content;
}

#question-form-title, #answer-form-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}

#question-form, #answer-form {
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#quesiton-form textarea, #answer-form textarea,
#quesiton-form input[type="text"], #answer-form input[type="text"],
#quesiton-form input[type="email"], #answer-form input[type="email"] {
  padding: 0.313rem;
  width: 100%;
  color: black;
}

#q-submit-btn, #a-submit-btn {
  align-self: center;
  padding: 0.313rem 0.625rem;
  margin-top: 1rem;
  background-color: white;
  border: 2px solid transparent;
  display: inline-block;
  cursor: pointer;
  color: black;
}

#q-submit-btn:hover, #a-submit-btn:hover {
  border: 2px solid black;
}

#my-images-div {
  display: flex;
  height: 110px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
}

#my-images-div img {
  aspect-ratio: 3/2;
  max-height: 75px;
  object-fit: cover;
  border: 1px solid transparent;
}

#my-images-div img:hover {
  border: 1px solid white;
}

#question-form h6, #answer-form h6 {
  color: orange;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 2px;
}