.search-container {
  height: 5vh;
  margin-bottom: 1vh;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}