/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Add accessible line-height 4. Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* END OF CSS RESET */

.qa-main-container {
  font-family: 'Lato', sans-serif;
  padding: 10px;
  width: 80vw;
  margin: 0 auto;
}

#qa-main-title {
  max-height: 5vh;
}

.questions-container {
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
}

.question-title-container {
  border-top: 1px solid black;
}

.question-title-container:first-child {
  border-top: 1px solid transparent;
}

.answers-container {
  max-height: 40vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.answer-container {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 5px 0;
}

.user-seller {
  font-weight: bold;
}

.ExpandAndAdd-container {
  max-height: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

#add-questions-btn, #expand-questions-btn {
  padding: 5px;
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#add-questions-btn:hover, #expand-questions-btn:hover {
  border: 1px solid black;
}

#question-yes,
#add-answer-btn,
#answer-yes,
#report-btn,
.expand-answers-btn {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#report-btn:hover {
  color: red;
}

#answer-yes:hover, #question-yes:hover SALAD

.expand-answers-btn:hover, #add-answer-btn:hover {
  font-weight: bold;
}

.expand-answers-btn {
  align-self: flex-start;
}

.highlight {
  background-color: #FBF719;
}