.qa-main-container {
  font-family: 'Inconsolata', monospace;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 50vw;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid black;
  color: white;
  background-color: #004675;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.qa-main-container h2 {
  margin: 5px 0;
}

.search-container {
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  align-items: center;
}

.search-container input {
  height: 25px;
  flex-grow: 2;
  border: none;
}

.search-container i {
  background-color: white;
  color: black;
  font-size: 25px;
}

/* QUESTIONs CONTAINER */
.questions-container {
  max-height: 100vh;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.questions-container::-webkit-scrollbar {
  width: 5px;
}
.questions-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}

/* QUESTION CONTAINER */
.question-container {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin: 0 auto 10px auto;
}

.question-container:last-child {
  margin-bottom: 0px;
}

.question-title-container {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.question-title-container div:last-child {
   white-space: nowrap;
}

#question-yes,
#add-answer-btn,
#answer-yes,
#report-btn,
.expand-answers-btn {
  font-family: 'Inconsolata', monospace;
  background: none;
  color: white;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
}

#question-yes,
#answer-yes {
  text-decoration: underline;
}

#question-yes:hover,
#add-answer-btn:hover,
#answer-yes:hover,
.expand-answers-btn:hover {
  color: yellow;
}

/* ANSWERs CONTAINER */
.answers-container {
  max-height: 50vh;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.answers-container::-webkit-scrollbar {
  width: 5px;
}
.answers-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}

/* ANSWER CONTAINER */
.answer-container {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 5px 0;
}

.answer-container:last-child {
  margin-bottom: 0;
}

.answer-body {
  margin-bottom: 5px;
}

/* EXPAND AND COLLAPSE CONTAINER */
.expand-questions-btn {
  padding: 5px;
  background-color: #004675;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.expand-questions-btn:hover {
  background-color: rgba(255, 255, 0, 0.2);
}