.ratingsReviewsContainer {
  border-style: solid;
  background-color: rgba(15, 149, 80, 0.1);
}

.reviewsList {
  border-style: solid;
  height: 180px; /* Set the desired height */
  overflow: auto; /* Enable scrolling */
}

.ratingBreakdown {
  border-style: solid;
}

.moreReviewsButton {

}