.ratingsReviewsContainer {
  /* border-style: solid; */
  /* background-color: rgba(255, 255, 255, 0.828); */
  /* khurram removed this */
  margin-top: 50px;
  width: 80vw;
  /* width: 100vw; */
  margin: 0 auto;
  padding: 10px;
}

.ratingsReviewsContent {
  display: flex;
}

/* ----- RATING BREAKDOWN ----- */
/* ----- RATING BREAKDOWN ----- */
/* ----- RATING BREAKDOWN ----- */

.ratingBreakdown {
  /* border-style: solid; */
  justify-content: left;
  margin-right: 2%;
  width: 28%;
  position: relative;
}

.stars-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

/* -- BreakdownComp -- */

.actualBreakdown {
  margin-top: 10px;
}

.breakdownRating {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.breakdownRating:hover {
  background-color: rgba(142, 142, 142, 0.505);
  border-radius: 7px;
  cursor: pointer;
}

#breakdownLabel {
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
}

#breakdownBar {
  margin-left: 5px;
  width: 225px;
  height: 10px;
}

progress::-webkit-progress-bar {
  background-color: rgb(228, 228, 228);
  border-radius: 7px;
}

progress::-webkit-progress-value {
  background-color: rgb(124, 188, 82);
  border-radius: 7px;
  box-shadow: 1px 1px 3px 3px rgb(109, 109, 109);
}

/* -- ProductBreakdown -- */

.productBreakdown {
  margin-top: 10%;
  margin-bottom: 2px;
  width: 100%;
}

.productBreakdownIndividual {
  width: 100%;
}

.productBreakdownScale {
  margin-top: 2px;
  height: 5px;
  width: 100%;
  background-color: #d9d9d9;
}

/*
.pointer {
  position: relative;
}

.pointer::before {
  content: attr(value);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(2, 2, 2);
  color: white;
  padding: 5px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.pointer:hover::before {
  opacity: 1;
}
*/

.productBreakdownLabels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1em;
  font-family: serif;
  margin-bottom: 8px;
}

.productBreakdownLabelsLow {
  margin-left: 0;
}

.productBreakdownLabelsHigh {
  margin-right: 0;
}

/* -- End -- */

.newReviewStarRating {
  display: flex;
}

.stars {
  display: flex;
  justify-content: space-between;
}

.empty-star {
  display: inline-block;
  position: relative;
  color: #0b0b30;
}

.star {
  display: inline-block;
  position: relative;
  color: #0b0b30;
}

.star:after {
  font-family: FontAwesome;
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  color: rgb(12, 12, 54);
}

.empty-star:after {
  font-family: FontAwesome;
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  overflow: hidden;
}

/* ----- REVIEWS LIST ----- */
/* ----- REVIEWS LIST ----- */
/* ----- REVIEWS LIST ----- */

.reviewsListContainer {
  width: 72%;
}

.reviewsList {
  height: 68vh;
  overflow: auto; /* Enable scrolling */
}

#addReviewButton,
#moreReviewsButton {
  padding: 5px;
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#addReviewButton:hover,
#moreReviewsButton:hover {
  border: 1px solid black;
}

#moreReviewsButton {
}

#addReviewButton {
  margin-left: auto;
}

#reviewsListButtons {
  display: flex;
  justify-content: space-between;
}

.reviewTile {
  border: 2px;
  margin-bottom: 12px;
  padding: 8px;
  border-style: groove;
}

.reviewTileTop {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  width: 100%;
}

.starRating {
  margin-left: 0;
}

.topRightReviewTile {
  margin-right: 0;
}

.reviewerName {
}

.reviewDate {
}

.reviewSummary {
  font-weight: bold;
}

.reviewBody {
}

.reviewBodyText {
}

.expandReviewTextButton {
  margin: 6px;
  padding: 3px;
  border: 2px solid black;
  background-color: rgb(224, 224, 224);
}

/* .reviewPhotos {
  max-width: 100px;
  height: auto;
  margin-right: 10px;
} */

.reviewResponse {
  border: 1px;
  background-color: rgba(238, 238, 238, 0.89);
  max-width: 600px;
}

.reviewHelpfulness {
  align-items: center;
}

#helpfulButton {
  margin-top: 15px;
}

#reportButton {
  margin-top: 15px;
}

/* ------ REVIEW FORM ----- */
/* ------ REVIEW FORM ----- */
/* ------ REVIEW FORM ----- */

.reviewFormContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviewFormSubContainer {
  background-color: white;
  padding: 20px;
  height: 90%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: medium;
  font-weight: 300;
  overflow: auto;
}

#reviewFormHeader {
  display: flex;
  justify-content: space-between;
}

#reviewFormTitle {
  font-size: larger;
  font-weight: bold;
}

.reviewFormSectionHeader {
  font-size: large;
  font-weight: 600;
  padding-top: 20px;
}

.newReviewStarRating {
  padding-bottom: 0.7rem;
  font-size: medium;
  font-weight: 300;
}

.reviewFormbuttons {
  display: flex;
  justify-content: space-between;
  /* display: inline-block; */
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

#photoInputButton {
  border: 2px inset#000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#submitButton {
  border: 2px inset#000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.reviewFormWarning {
  font-size: small;
  font-weight: 200;
  font-style: italic;
}

#charElement {
}

#charTitle {
  font-size: larger;
  margin-top: 20px;
}

#charLabel {
  display: flex;
  flex-direction: column;
  font-size: medium;
  font-weight: 400;
  margin-top: 20px;
}

#charSelected {
  font-size: medium;
  justify-content: center;
  margin: auto;
}

.charRadioButtons {
  display: flex;
  justify-content: space-between;
}

.charRadioButtons input[type="radio"] {
  width: 20px;
  height: 20px;
}

.characteristicsAxisLabels {
  display: flex;
  justify-content: space-between;
  font-size: small;
}
