.ratingsReviewsContainer {
  border-style: solid;
  background-color: rgba(15, 149, 80, 0.1);
}

.reviewsList {
  border-style: solid;
  height: 180px; /* Set the desired height */
  overflow: auto; /* Enable scrolling */
}

.ratingBreakdown {
  border-style: solid;
}

.moreReviewsButton {

}

.reviewTile {
  border-style: groove;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(10px, auto);
}

.starRating {
  grid-column: 1;
  grid-row: 1;
}

.reviewDate {
  grid-column: 4;
  grid-row: 1;
}

.reviewSummary {
  grid-column: 1 / 3;
  grid-row: 2;
  font-weight: bold;

}

.reviewBody {
  grid-column: 1 / 3;
  grid-row: 3;

}

.reviewBodyText {

}

.expandReviewTextButton {

}

.reviewPhotos {
  max-width: 50px;
  height: auto;
}

.reviewRec {
  grid-column: 1;
  grid-row: 4;
}

.reviewerName {
  grid-column: 3;
  grid-row: 1;

}

.reviewResponse {
  grid-column: 1/3;
  grid-row: 5;
  background-color: rgb(211, 202, 202);
  border-style: dotted;

}

.reviewHelpfulness {
  grid-column: 1;
  grid-row: 6;
}

#helpfulButton {

}

#reportButton {

}